@{
	ViewData["Title"] = "ERP Cloud Systems";
}

@section metatags{
	<meta name="description" content="ERP Cloud Systems">
	<meta name="keywords" content="ERP, Enterprise Resource Planing, Financial, Fixed Assets, Inventory, Sales & Receivables, Point of sales, Human Resource, CRM" />
}


 @inject IViewLocalizer Localizer
<section class="headings">
		<div class="text-heading text-center">
			<div class="container">
				<h1>@Localizer["ERP Cloud Systems"]</h1>
				<h2><a asp-action="Index" asp-controller="Home">@Localizer["Home"] </a> &nbsp;>>&nbsp; @Localizer["ERP"]</h2>
			</div>
		</div>
	</section>
<section  class=" services " >
		<div class="container">
			<div class="sec-title">
				<h2><span>@Localizer["NOVEM"] </span>@Localizer["ERP"]</h2>
				<p>@Localizer["NOVEM ERP Provides end-to-end solutions coupled with the technology expertise you need to increase operational efficiency and drive competitive advantage."]</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12 cell cel-1">
				<img src="/images/info/img-2.png" width="70" alt="financial">
					<h3>@Localizer["Financial"]</h3>
						<p >@Localizer["keeps track of all account-related transactions like expenditures, Balance sheet, account ledgers, budgeting, bank statements, payment receipts, tax management etc. Help you to manage Payments, Journal, Receipt and credit note easily."]</p>				
				</div>
				<div class="col-lg-4 col-md-12 cell cel-2">
					<i class="fa fa-building fa-5x" aria-hidden="true"></i>
					<h3>@Localizer["Fixed Assets"]</h3>
					<p>@Localizer["Fixed Assets Management Software manages your all Assets, Asset Transactions, Maintenance, Maintenance Expenses and Depreciation and tracks record of all your asset listings and expenses. Manage Assets data centrally, calculate Depreciation, sales assets and dispose assets."]</p>			
@*					<div class="inf-btn">
					</div>*@
				</div>
				<div class="col-lg-4 col-md-12 cell cel-3">
					<i class="fa fa-th fa-5x" aria-hidden="true"></i>
					<h3>@Localizer["Inventory"]</h3>
					<p>@Localizer["Helps the users in creating the coding system and categorization and facilitates the process of maintaining the exact level of stock in warehouse and helps you manage and report your inventory information. Add your items into invoices and orders and keep track of all your quotations, orders, returns and collections."]</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12 cell cel-4">
					<img src="/images/info/img-4.png" width="70" alt="sales">
					<h3>@Localizer["Sales & Receivables"]</h3>
					<p>@Localizer["Typical sales process includes processes like Sales queries & inquiry analysis & handling, quotation drafting, accepting sales orders, drafting sales invoices with proper taxation, dispatch/Shipment of material or service, tracking pending sales order"]</p>
				</div>
				<div class="col-lg-4 col-md-12 cell cel-5">
				<img src="/images/info/img-5.png" width="70" alt="purchasing-payables">
					<h3>@Localizer["Purchasing & Payables"]</h3>
					<p>@Localizer["Purchase modules take care of all the processes that are part of the procurement of items or raw materials, landed cost, tracking pending Purchase order, Purchase queries, inquiry analysis and handling that are required for the organization"]</p>
				</div>
				<div class="col-lg-4 col-md-12 cell cel-6">
					<i class="fa fa-barcode fa-5x" aria-hidden="true"></i>
					<h3>@Localizer["Point of sales"]</h3>
					<p>@Localizer["was founded to bring restaurants and retailers, of all sizes, the technology they need to increase sales, make better decisions, create happier customers and run their business. And its cloud-based POS System that means it is accessible on web and desktop to save the time and boosts performance and productivity."]</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12 cell cel-5">
					<img src="/images/info/img-1.png" width="70" alt="">
					<h3>@Localizer["Human Resource"]</h3>
					<p>@Localizer["Covers all administrative essentials to manage employees, employees’ salaries, vacations, pay slips and deductions. The full-suite system covers all core HR functions and extends to training and development"]</p>
				</div>
				<div class="col-lg-4 col-md-12 cell cel-4">
					<i class="fa fa-users fa-5x" aria-hidden="true"></i>
					<h3>@Localizer["CRM"]</h3>
					<p>@Localizer["Through CRM products, Experts SYS provides a better understanding for the customers’ needs, record customer data including company details with a full view on related contacts and vice versa. with the purpose of automating and reducing marketing cycle, sales cycle and selling costs."]</p>
				</div>
		
			</div>
		</div>
	</section>

					@section Scripts{
						<script>
							$('body').addClass("inner-pages ser");
							//$('ul > li').hide();  
					   
						</script>
					}